{% extends 'index.html' %}

{% block content %}
<div class="main_container">
    <div class="main-heading">
      <h1>City of Bulawayo Water and Sanitation Department</h1>
      <h2>Projects Dashboard</h2>
    </div>
    <p class="card-text date">{{ today_date }}</p>
    <div class="about_container">
      <p class="main_paragraph">
        The BCC Projects Dashboard is your one-stop shop for gaining comprehensive insights into the health and progress of our ongoing endeavors.  
        Here's a glimpse into the stories the various data points tell:
      </p>
      <h3>Contract Details</h3>
      <p class="sub_paragraph">
        The Contract Details section provides a comprehensive overview of the key details associated with each project,
        including the project name, contract number, contract amount, and contract status.
      </p>
      <h3>Management and Timeline</h3>
      <p class="sub_paragraph">
        Identify the project manager assigned to each contract and track key dates like contract signing (by both BCC and the contractor),
        early start and finish dates, and any extensions granted.
      </p>
      <h3>Financial Snapshot</h3>
      <p class="sub_paragraph">
        The dashboard empowers you to visualize the financial aspects of your projects. See the contract value, including the contingency buffer, alongside performance and advance payment guarantees and their expiry dates. 
        Track the total certified interim payments made so far to gauge project spending.
      </p>
      <h3>Progress Tracking</h3>
      <p class="sub_paragraph">
        Evaluate project advancement through both financial and physical progress percentages. 
        This dual perspective helps assess if expenditures are aligned with the physical completion stage.
      </p>
      <h3>Project Status</h3>
      <p class="sub_paragraph">
        Stay informed about the current status of each project (e.g., ongoing, completed, on hold). 
        This allows for quick identification of potential roadblocks and facilitates informed decision-making.
      </p>
    </div>
    <div class="stats_data_container">
      <h2>Summary of Projects Progress Data</h2>
      <div class="table-responsive">
          <table class="table table-hover table-bordered">
              <tr class="table-dark">
                  <th>Contract Number</th>
                  <th>Contract Name</th>
                  <th>Project Manager</th>
                  <th>Contractor</th>
                  <th>Year</th>
                  <th>Status</th>
                  <th>Early Start Date</th>
                  <th>Contract Duration (Months)</th>
                  <th>Early Finish Date</th>
                  <th>Extension of Time</th>
                  <th>Physical Progress</th>
                  <th>Financial Progress</th>
              </tr>
  
              {% for data in projects_data %}
              <tr class="table-dark {% if loop.index % 2 == 1 %}table-active{% else %}{% endif %}">
                  <td>{{ data.contract_number }}</td>
                  <td>{{ data.contract_name }}</td>
                  <td>{{ data.project_manager }}</td>
                  <td>{{ data.contractor}}</td>
                  <td>{{ data.year }}</td>
                  <td>{{ data.project_status }}</td>
                  <td>{{ data.early_start_date }}</td>
                  <td>{{ data.contract_duration_months }}</td>
                  <td>{{ data.early_finish_date }}</td>
                  <td>{{ data.extension_of_time }}</td>
                  <td>{{ data.physical_progress_percentage }}</td>
                  <td>{{ data.financial_progress_percentage }}</td>
              {% endfor %}
          </table>
      </div>
    </div>
    <!-- <div class="tab_dropdown">
      <div class="stats_data_container">

        <select id="project_selector">
          <option value="">Select Project</option>
          {% for name in project_names %}
            <option value="{{ name }}">{{ name }}</option>
          {% endfor %}
        </select>
      
        <div id="project_details" style="display: none;">
          <table class="table table-hover table-bordered">
            <tr class="table-dark">
              <th>Contract Number</th>
              <th>Contract Name</th>
              <th>Project Manager</th>
              <th>Contractor</th>
              <th>Year</th>
              <th>Status</th>
              <th>Early Start Date</th>
              <th>Contract Duration (Months)</th>
              <th>Early Finish Date</th>
              <th>Extension of Time</th>
              <th>Physical Progress</th>
              <th>Financial Progress</th>
            </tr>
            <tbody id="project_data_body"></tbody>
          </table>
        </div>
      </div>
    </div> -->
    <div id="graph-container1" class="graph-container"></div>
    <!-- <select id="projectManagerSlicer" onchange="updateChart()">
      <option value="">All Project Managers</option>
      <option value="M Funi">M Funi</option>
      <Add more project manager options as needed 
  </select> -->
  <!-- <div id="chart"></div> -->
    <div id="graph-container2" class="graph-container"></div>
    <div class="pie_container">
      <div id="graph-container3" class="graph-container"></div>
      <div id="graph-container5" class="graph-container"></div>
    </div>
    <div id="graph-container4" class="graph-container"></div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
        // Load area plots
        var graph1Data = {{ graph1JSON | safe }};
        Plotly.newPlot('graph-container1', graph1Data, { responsive: true });

        var graph2Data = {{ graph2JSON | safe }};
        Plotly.newPlot('graph-container2', graph2Data, { responsive: true });

        // Load Pie Chart
        var graph3Data = {{ graph3JSON | safe }};
        Plotly.newPlot('graph-container3', graph3Data, { responsive: true });

        // Load Tree Chart
        var graph4Data = {{ graph4JSON | safe }};
        Plotly.newPlot('graph-container4', graph4Data, { responsive: true });

        // Load Sunburst Chart
        var graph5Data = {{ graph5JSON | safe }};
        Plotly.newPlot('graph-container5', graph5Data, { responsive: true });

        function updateChartSize() {
        const graphContainers = document.querySelectorAll('.graph-container');
  
        for (const container of graphContainers) {
          const chartId = container.id; // Get the chart container ID
          const chart = document.getElementById(chartId); // Find the chart element
        
          // Set chart width to occupy full width of the container
          const containerWidth = container.clientWidth;
          Plotly.relayout(chart, { width: containerWidth });
        }
    }
  
    // Initial call to set correct width on page load
    updateChartSize();
  
    window.addEventListener('resize', updateChartSize);

</script>
{% endblock%}