{% extends 'index.html' %}

{% block content %}
<div class="stats-container">
    <h1>Servicing Projects</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<div class="stats_data_container">
    <h2>Summary of Servicing Projects Progress Data</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr class="table-dark">
                <th>Contract Number</th>
                <th>Contract Name</th>
                <th>Project Manager</th>
                <th>Contractor</th>
                <th>Year</th>
                <th>Status</th>
                <th>Water Progress (%)</th>
                <th>Sewer Progress (%)</th>
                <th>Roads Progress (%)</th>
                <th>Storm Drain Progress (%)</th>
                <th>Public Lighting Progress (%)</th>
                <th>Total Progress (%)</th>
            </tr>

            {% for servicing_data in projects_data %}
            <tr class="{% if servicing_data.project_status == 'Completed' %}table-success 
            {%elif servicing_data.project_status == 'In Progress' %}table-info
            {%elif servicing_data.project_status == 'Stopped' %}table-danger
            {% else %}table-warning{% endif %}">
                <td>{{ servicing_data.contract_number }}</td>
                <td>{{ servicing_data.contract_name }}</td>
                <td>{{ servicing_data.project_manager }}</td>
                <td>{{ servicing_data.contractor}}</td>
                <td>{{ servicing_data.year }}</td>
                <td>{{ servicing_data.project_status }}</td>
                <td>{{ servicing_data.water_progress }}</td>
                <td>{{ servicing_data.sewer_progress }}</td>
                <td>{{ servicing_data.roads_progress }}</td>
                <td>{{ servicing_data.storm_drainage_progress }}</td>
                <td>{{ servicing_data.public_lighting_progress }}</td>
                <td>{{ servicing_data.physical_progress_percentage }}</td>
            {% endfor %}
        </table>
    </div>
</div>
{% for servicing_data in servicing_data_JSON %}
      <div id="servicing_graph-container{{ loop.index }}" class="graph-container"></div>
{% endfor %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
        // Load bar plots
        var servicingData = {{ servicing_data_JSON | safe }};
        servicingData.forEach(function(data, index) {
            var divId = 'servicing_graph-container' + (index + 1);
            var div = document.getElementById(divId);
            Plotly.newPlot(div, JSON.parse(data));
        });


        function updateChartSize() {
        const graphContainers = document.querySelectorAll('.graph-container');
  
        for (const container of graphContainers) {
          const chartId = container.id; // Get the chart container ID
          const chart = document.getElementById(chartId); // Find the chart element
        
          // Set chart width to occupy full width of the container
          const containerWidth = container.clientWidth;
          Plotly.relayout(chart, { width: containerWidth });
        }
    }
  
    // Initial call to set correct width on page load
    updateChartSize();
  
    window.addEventListener('resize', updateChartSize);

</script>
{% endblock%}