{% extends 'index.html' %}

{% block content %}
<div class="stats-container">
    <h1>Strategic Planning</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<!-- <div class="stats_data_container"> -->
    <!-- <h2>Summary of Strategic Planning Projects</h2> -->
    <img src="{{ url_for('static', filename='images/strategic1.png') }}" class="gis_image" alt="Strategic Planning Projects">
    <img src="{{ url_for('static', filename='images/strategic2.png') }}" class="gis_image" alt="Strategic Planning Projects">
    <img src="{{ url_for('static', filename='images/strategic3.png') }}" class="gis_image" alt="Strategic Planning Projects">
    <img src="{{ url_for('static', filename='images/strategic4.png') }}" class="gis_image" alt="Strategic Planning Projects">
<!-- </div> -->
{% endblock%}