{% extends 'index.html' %}

{% block content %}
<div class="stats-container">
    <h1>Works Projects</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<div class="stats_data_container">
    <h2>Summary of Works Projects Progress Data</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr class="table-dark">
                <th>Contract Number</th>
                <th>Contract Name</th>
                <th>Project Manager</th>
                <th>Contractor</th>
                <th>Year</th>
                <th>Status</th>
                <th>Early Start Date</th>
                <th>Contract Duration (Months)</th>
                <th>Early Finish Date</th>
                <th>Extension of Time</th>
                <th>Physical Progress</th>
                <th>Financial Progress</th>
            </tr>

            {% for works_data in projects_data %}
            <tr class="table-dark {% if loop.index % 2 == 1 %}table-active{% else %}{% endif %}">
                <td>{{ works_data.contract_number }}</td>
                <td>{{ works_data.contract_name }}</td>
                <td>{{ works_data.project_manager }}</td>
                <td>{{ works_data.contractor}}</td>
                <td>{{ works_data.year }}</td>
                <td>{{ works_data.project_status }}</td>
                <td>{{ works_data.early_start_date }}</td>
                <td>{{ works_data.contract_duration_months }}</td>
                <td>{{ works_data.early_finish_date }}</td>
                <td>{{ works_data.extension_of_time }}</td>
                <td>{{ works_data.physical_progress_percentage }}</td>
                <td>{{ works_data.financial_progress_percentage }}</td>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock%}